.slidecontainer {
  width: 300px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.mainContainer {
  margin-top: 5%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: rgb(34, 34, 34);
}

.editorContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 40%;
  height: 100vh;

}

.mediaContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 60%;
  height: 100vh;
}

.btn {
  width: 250px;
  height: 60px;

  border: 0.5px solid white;
  background-color: transparent;
  color: white;
  letter-spacing: 5px;
}
.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
.btn:hover:active {
  opacity: 0.9;
  cursor: pointer;
}

.in {


  border: 1px solid white;
  margin: 10px;
  width: 150px;
  height: 40px;

  border: 0.5px solid white;
  background-color: white;
  opacity: 0;
  color: white; 
  
}


.in:hover {
  opacity: 0.6;
}